---
import Base from "../layouts/Base.astro";
import Title from "../components/Title.astro";
import Education from "../components/Education.astro";
---

<Base title="Me">
  <div class="flex gap-5 flex-col">
    <Title />
    <Education />
  </div>
</Base>
