---
import Base from "../layouts/Base.astro";
import Title from "../components/Title.astro";
import Education from "../components/Education.astro";
import Research from "../components/Research.astro";
import WorkExperience from "../components/WorkExperience.astro";
import Certifications from "../components/Certifications.astro";
---

<Base title="Me">
  <div class="flex gap-5 flex-col">
    <Title />
    <Education />
    <WorkExperience />
    <Research />
    <Certifications />
  </div>
</Base>
