---
import Section from "./Section.astro";
---

<Section title="Co-curriculars">
  <ul class="ml-5 list-disc flex flex-col gap-1">
    <li>
      Lead the workshop team for our department’s CSI (Computer Society of
      India) 2020 event during COVID with over 95% participation.
    </li>
    <li>
      Gave a talk on “Modern Web Development” at this event with more than 50
      attendees.
    </li>
    <li>
      Conducted an “Introduction to React” workshop Codecademy’s Mumbai chapter
      with upwards of 80 members.
    </li>
    <li>
      Lead the Data Structures and Algorithms section of our department’s
      “Coder’s Club” with over 60 participants.
    </li>
    <li>
      Got first place at CodeSprint, an intercollege coding competition, two
      years in a row.
    </li>
  </ul>
</Section>
