---
import Section from "./Section.astro";
---

<Section title="Research">
  <div>
    <h3 class="text-lg font-bold text-blue-600 mb-2">
      <a href="https://ieeexplore.ieee.org/document/10039665" target="_blank">
        Generating Datasets with Glyph-level Annotations for Devanagari Text
        Recognition
      </a>
    </h3>
    <ul class="list-disc flex flex-col gap-1">
      <li>
        Most of the work done in text recognition focuses on English, more
        specifically, Latin script languages. Unlike Latin, Indic scripts like
        Devanagari, Gujarati, Malayalam, Tamil etc. are a family of abugida
        writing systems.
      </li>
      <li>
        In these scripts each unit is made up of a consonant and an optional
        vowel notion. This makes the separation of different characters a
        non-trivial task as each visible letter may represent more than one
        character.
      </li>
      <li>
        Letters derived from the same base consonant can be visually similar to
        each other and make distinguishing between them quite difficult.
      </li>
      <li>
        This paper focuses on Devanagari script and a technique to generate
        synthetic text recognition datasets with rich glyph- level annotations.
      </li>
      <li>
        Presented at <a
          class="text-blue-600"
          href="https://ieeexplore.ieee.org/xpl/conhome/10038979/proceeding"
          target="_blank"
          >2022 5th International Conference on Advances in Science and
          Technology (ICAST)</a
        > published on IEEE Xplore.
      </li>
    </ul>
  </div>
  <div>
    <h3 class="text-lg font-bold text-blue-600 mb-2">
      <a href="https://ieeexplore.ieee.org/document/9725939" target="_blank">
        Linear Algebra in the Browser powered by WebAssembly
      </a>
    </h3>
    <ul class="list-disc flex flex-col gap-1">
      <li>
        With over 4 billion worldwide active users, the web is the most prolific
        platform for people to interact with computers. Developers utilize
        JavaScript to create dynamic user interfaces that power the web as we
        know it.
      </li>
      <li>
        Although there have been changes to JavaScript or how JavaScript is
        “interpreted” by the browser, the performance still doesn’t match
        compiled native code.
      </li>
      <li>
        This paper aims to focus on, WebAssembly, one of the mechanisms to
        overcome this limitation and write a linear algebra library that will
        empower developers in creating user experiences that go beyond the
        traditional web.
      </li>
      <li>
        Presented at <a
          class="text-blue-600"
          href="https://ieeexplore.ieee.org/xpl/conhome/9725432/proceeding"
          target="_blank"
          >2022 International Conference for Advancement in Technology (ICONAT)</a
        > published on IEEE Xplore.
      </li>
    </ul>
  </div>
</Section>
