---
import SectionTitle from "./SectionTitle.astro";

const { title } = Astro.props;
---

<div class="flex flex-col gap-4">
  <SectionTitle>{title}</SectionTitle>
  <div class="flex flex-col gap-4">
    <slot />
  </div>
</div>
