---
import IconLink from "./IconLink.astro";
---

<div class="flex justify-between flex-wrap">
<h1 class="font-serif text-5xl font-bold py-4 whitespace-nowrap">
  Archit Bhonsle
</h1>
<div class="flex items-center space-x-2 md:space-x-4">
  <IconLink
    link="https://www.linkedin.com/in/archit-bhonsle"
    iconName="mdi:linkedin"
  />
  <IconLink link="https://github.com/ArchitBhonsle" iconName="mdi:github" />
  <IconLink link="https://leetcode.com/PuiPuiTuiPui" iconName="mdi:trophy" />
  <IconLink link="mailto:abhonsle2000@gmail.com" iconName="mdi:email" />
</div>
