---
import Section from "./Section.astro";

const data: {
  company: string;
  position: string;
  duration: string;
  points: string[];
}[] = [
  {
    company: "Capgemini",
    position: "Golang Backend Developer Intern",
    duration: "Aug 22 - Apr 23",
    points: [
      "Building a highly scalable web crawler to fetch, process and write data.",
      "Developed platform for tracking vehicles and their location.",
      "Optimized the said pipeline to scale out with load and yet be efficient in terms of cost while running on cloud platforms.",
      "Wrote a dashboard to stream live updates from the data pipeline.",
    ],
  },
  {
    company: "Council of Vibration Specialists",
    position: "Full Stack Web Developer Intern",
    duration: "May 21 - Nov 21",
    points: [
      "Developed an optimised, mobile friendly progressively enhanced website using NextJS and Ant Design framework.",
      "Setup a CI/CD pipeline using GitHub Actions and AWS (Amazon Web Services).",
    ],
  },
  {
    company: "Qustac Technologies",
    position: "Full Stack Web Developer Intern",
    duration: "Sept 20 - Jan 21",
    points: [
      "Designed a performant and highly interactive SPA (single-page application) in React.",
      "Integrated the app with Firebase (Cloud Firestore, Firebase Authentication, Google Analytics).",
      "Deployed the app using GCP (Google Cloud Platform).",
    ],
  },
  {
    company: "Rockit Digital",
    position: "Full Stack Web Developer Intern",
    duration: "Aug 20 - Nov 20",
    points: [
      "Helped local businesses go digital by building responsive websites with HTML, CSS and JavaScript.",
      "Deployed the website using GoDaddy hosting and CPanel.",
    ],
  },
];
---

<Section title="Work Experience">
  {
    data.map((d) => (
      <div class="flex flex-col gap-2">
        <div class="flex justify-between items-end flex-wrap gap-1">
          <h3 class="text-lg font-bold">{d.company}</h3>
          <span class="text-sm">{d.duration}</span>
        </div>
        <span class="italic">{d.position}</span>
        <ul class="ml-5 list-disc flex flex-col gap-1">
          {d.points.map((p) => (
            <li>{p}</li>
          ))}
        </ul>
      </div>
    ))
  }
</Section>
