---
import Section from "./Section.astro";

const data: {
  company: string;
  position: string;
  duration: string;
  points: string[];
}[] = [
  {
    company: "Capgemini",
    position: "Golang Backend Developer Intern",
    duration: "August 2022 - April 2023",
    points: [
      "Building a highly scalable web crawler to fetch, process and write data.",
      "Developed platform for tracking vehicles and their location.",
      "Optimized the said pipeline to scale out with load and yet be efficient in terms of cost while running on cloud platforms.",
      "Wrote a dashboard to stream live updates from the data pipeline.",
    ],
  },
  {
    company: "Council of Vibration Specialists",
    position: "Full Stack Web Developer Intern",
    duration: "May 2021 - November 2021",
    points: [
      "Developed an optimised, mobile friendly progressively enhanced website using NextJS and Ant Design framework.",
      "Setup a CI/CD pipeline using GitHub Actions and AWS (Amazon Web Services).",
    ],
  },
  {
    company: "Qustac Technologies",
    position: "Full Stack Web Developer Intern",
    duration: "September 2020 - January 2021",
    points: [
      "Designed a performant and highly interactive SPA (single-page application) in React.",
      "Integrated the app with Firebase (Cloud Firestore, Firebase Authentication, Google Analytics).",
      "Deployed the app using GCP (Google Cloud Platform).",
    ],
  },
  {
    company: "Rockit Digital",
    position: "Full Stack Web Developer Intern",
    duration: "August 2020 - November 2020",
    points: [
      "Helped local businesses go digital by building responsive websites with HTML, CSS and JavaScript.",
      "Deployed the website using GoDaddy hosting and CPanel.",
    ],
  },
];
---

<Section title="Work Experience">
  {
    data.map((d) => (
      <div class="flex flex-col gap-2">
        <div class="flex justify-between align-bottom">
          <h3 class="text-lg font-bold">{d.company}</h3>
          <span class="text-sm">{d.duration}</span>
        </div>
        <span class="italic">{d.position}</span>
        <ul class="list-disc flex flex-col gap-1">
          {d.points.map((p) => (
            <li>{p}</li>
          ))}
        </ul>
      </div>
    ))
  }
</Section>
